<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoardContent</title>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead></thead>
            <tbody>
            <tr>
                <td th:text="${board.id}"></td>
                <td th:text="${board.title}"></td>
                <td th:text="${board.content}"></td>
                <td th:text="${board.user_id}"></td>
                <td th:text="${board.datetime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>